<div class="body">
    <div class="wrapper">
        <div class="sidebar">
            <ul>
                <a href="/adminf">
                    <li class="active"><i class="fas fa-home"></i></li>
                    <span style="color: rgb(151, 151, 151); font-family: Oswald; color: black;">Dashboard</span>
                </a>
                <a href="/verifyf">
                    <li><i class="fa fa-download"></i></li>
                    <span style="color: rgb(151, 151, 151);font-family: Oswald; color: black;">Verification</span>
                </a>

                <div class="dropdown">
                    <a href="/serviceby" >
                        <li><i class="fa fa-file" aria-hidden="true"></i></li>
                        <span class="dropbtn" style="color: rgb(151, 151, 151); text-align: center;font-family: Oswald;color: black"> Reports</span>
                        <div class="dropdown-content">
                           
                            <a href="/serviceby" style="color: rgb(151, 151, 151); text-align: center;font-family: Oswald;color: black">Popular Service
                                <div class="dropdown-content">
                                    
                                    <a href="/arequest" style="color: rgb(151, 151, 151); text-align: center;font-family: Oswald;color: black"> Accepted Request</a>
                                    <a href="/cbooking" style="color: rgb(151, 151, 151); text-align: center;font-family: Oswald;color: black"> Completed Bookings</a>
                                    <a href="/serviceby" style="color: rgb(151, 151, 151); text-align: center;font-family: Oswald;color: black"> Service By Category</a>
                                  
                                     </div>
                            </a>

                          </div>
                    </a>
                  </div>

                <a href="/signin">
                    <li><i class="fa fa-sign-out"></i></li>
                    <span style="color: rgb(151, 151, 151); font-family: Oswald; color: black;">Sign Out</span>
                </a>
            </ul>
        </div>

        <section class="main">
            <div class="main-top">
            </div>
            <h1  style="font-family: Oswald; color: black;">Service</h1>
            <section style="font-family: Oswald; color: black;" class="unverified">
                <div class="unverified-list">
                    <h1>Service By Category</h1>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Service</th>
                                <th>Total Number Of Booking Requests</th>
                            
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                           
                                <td>ROOFING</td>
                                <td>4</td>
                            </tr>
                            <tr>
                             
                                <td>GARDENER</td>
                                <td>1</td>
                               
                              

                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </section>
        </section>
    </div>
</div>