<div class="body">
    <div class="wrapper">
        <div class="sidebar">
            <ul>
                <a href="/adminf">
                    <li class="active"><i class="fas fa-home"></i></li>
                    <span style="color: rgb(151, 151, 151); font-family: Oswald; color: black;">Dashboard</span>
                </a>
                <a href="/verifyf">
                    <li><i class="fa fa-download"></i></li>
                    <span style="color: rgb(151, 151, 151);font-family: Oswald; color: black;">Verification</span>
                </a>

                <div class="dropdown">
                    <a href="/rating" >
                        <li><i class="fa fa-file" aria-hidden="true"></i></li>
                        <span class="dropbtn" style="color: rgb(151, 151, 151); text-align: center;font-family: Oswald;color: black"> Reports</span>
                        <div class="dropdown-content">
                           
                            <a href="/reportsf" style="color: rgb(151, 151, 151); text-align: center;font-family: Oswald;color: black">Previous Booking</a>
                          </div>
                    </a>
                  </div>

                <a href="/signin">
                    <li><i class="fa fa-sign-out"></i></li>
                    <span style="color: rgb(151, 151, 151); font-family: Oswald; color: black;">Sign Out</span>
                </a>
            </ul>
        </div>

        <section class="main">
            <div class="main-top">
                
               
            </div>
            <h1  style="font-family: Oswald; color: black;">Ratings Report</h1>
            <section style="font-family: Oswald; color: black;" class="unverified">
                <div class="unverified-list">
                    <h1>Average Rating</h1>
                    <table class="table">
                        <thead>
                            <tr>
                               
                                <th>Merchant Names</th>
                                <th>Service</th>
                                <th>Average Rating</th>
                            
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Kenny Mutangwa</td>
                                <td>ROOFING</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td>Kenneth Mashaba</td>
                                <td>GARDENER</td>
                                <td>No Ratings Yet</td>
                               
                              

                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </section>
        </section>
    </div>
</div>