<div class="body">
    <div class="wrapper">
        <div class="sidebar">
            <ul>
                <a routerLink="/adminf">
					<li routerLinkActive="nav-item nav-link active"><i class="fas fa-home"></i></li>
					<span style="color: rgb(151, 151, 151);font-family: Oswald;color: black;">Dashboard</span>
				</a>
				<a routerLink="/verifyf">
					<li routerLinkActive="nav-item nav-link active"><i class="fa fa-download"></i></li>
					<span style="color: rgb(151, 151, 151); text-align: center;font-family: Oswald;color: black"> Verification</span>
				</a>
				<a routerLink="/reportsf">
					<li routerLinkActive="nav-item nav-link active"><i class="fa fa-file" aria-hidden="true"></i></li>
					<span style="color: rgb(151, 151, 151); text-align: center;font-family: Oswald;color: black"> Reports</span>
				</a>
			
				<a routerLink="/signin">
					<li><i class="fa fa-sign-out"></i></li>
					<span style="color: rgb(151, 151, 151);font-family: Oswald;color: black">Sign Out</span>
				</a>
            </ul>
        </div>

        <section class="main">
            <div class="main-top">
                
               
            </div>
          
            <section style="font-family: Oswald; color: black;" class="unverified">
                <div class="unverified-list">
                    <h1>Previous Bookings</h1>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Client Names</th>
                                <th>Merchant Names</th>
                                <th>Service Offered</th>
                                <th>Service In</th>
                                <th>Service Done</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Hataluli Randima</td>
                                <td>Frenkie Mutangwa</td>
                                <td>Brick Layer</td>
                                <td>25/09/2022</td>
                                <td>01/10/2022</td>
                              

                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </section>
        </section>
    </div>
</div>