<!-- Topbar Start -->
<div class="wrapper">
    <div class="media">
        <ul>
            <li> <i class="fab fa-google"></i></li>
            <li><i class="fab fa-instagram"></i> </li>
            <li><i class="fab fa-twitter"></i></li>
            <li><i class="fab fa-facebook-f"></i></li>
          
        </ul>
    </div>
</div>

<div class="container-fluid position-relative nav-bar p-0" >
    <div class="container position-relative" style="z-index: 9;">
        <nav class="navbar navbar-expand-lg bg-secondary navbar-dark py-3 py-lg-0 pl-3 pl-lg-5">
            <a href="" class="navbar-brand">
                <h1 style="font-size: 120% ;" class="m-0 display-5 text-white"><span class="text-primary">S</span>ervice Plug</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                <div style="font-family: Oswald; color: black;"class="navbar-nav ml-auto py-0">
                    <a routerLink="/#" class="nav-item nav-link active">Home</a>
                    <a routerLink="/signin" class="nav-item nav-link">Log In</a>
                    <a routerLink="/signup" class="nav-item nav-link">Register</a>
                    <!-- <a routerLink="/#" class="nav-item nav-link">Gallery</a>
                    <a routerLink="/#" class="nav-item nav-link">About</a>
                    <a routerLink="/#" class="nav-item nav-link">Contact</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Potrait</a>
                        <div class="dropdown-menu rounded-0 m-0">
                            <a routerLink="/#" class="dropdown-item">Profile</a>
                            <a routerLink="/login" class="dropdown-item">Log In</a>
                        </div>
                    </div> -->





                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->

<!-- Under Nav Start -->
<div class="container-fluid bg-white py-3">
    <div class="container" >
        <div class="row">
            <div class="">
                <div class="">
                    <h1 class=""></h1>
                    <div class="">
                        <h5 style="font-family: Oswald; color: black;">Our Office</h5>
                        <p class="" style="font-family: Oswald; color: black;">Johannesburg, 30-38 Claim Street, GAUTENG</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-left text-lg-center mb-3 mb-lg-0">
                <div class="d-inline-flex text-left">
                    <h1 class="flaticon-email font-weight-normal text-primary m-0 mr-3"></h1>
                    <div class="d-flex flex-column">
                        <h5 style="font-family: Oswald; color: black;">Email Us</h5>
                        <p class="" style="font-family: Oswald; color: black;">serviceplug4@info.com</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-left text-lg-right mb-3 mb-lg-0">
                <div class="d-inline-flex text-left">
                    <h1 class="flaticon-telephone font-weight-normal text-primary m-0 mr-3"></h1>
                    <div class="d-flex flex-column">
                        <h5 style="font-family: Oswald; color: black;">Call Us</h5>
                        <p class="m-0" style="font-family: Oswald; color: black;">+012 345 6789</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid bg-light">
<div class="container">
    <div class="row">
        <h1 style="font-size: 150% ;" class="">ServicePlug serves as a link between clients who require artisan tradesman and the tradsmen that offer such services.<br>
            This in turn makes the process of finding a good artisan tradesman easy, and simple.</h1>
            <br>
            <div class="caracara">

            </div>
        <div class="col-lg-5">
            <div class="d-flex flex-column align-items-center justify-content-center bg-primary h-100 py-5 px-3">
                <i class="flaticon-brickwall display-1 font-weight-normal text-secondary mb-3"></i>
                <h1 style="font-size: 150% ;" class="display-3 mb-3">Affordable</h1>
                <h1  style="font-size: 150% ;" class="m-0">Highly Experienced Merchants</h1>
            </div>
        </div>
        <div class="col-lg-7 m-0 my-lg-5 pt-5 pb-5 pb-lg-2 pl-lg-5">
            <h1 style="font-size: 150% ;" class="text-primary font-weight-normal text-uppercase mb-3">Learn About Us</h1>
            <h1 style="font-size: 150% ;" class="mb-4 section-title">We Offer Highly Skilled Mechants Close to You</h1>
            <div class="row py-2">
                <div class="col-sm-6">
                    <div class="d-flex align-items-center mb-4">
                        <h1 class="flaticon-house font-weight-normal text-primary m-0 mr-3"></h1>
                        <h1 style="font-size: 150% ;" class="text-truncate m-0">Plumbing</h1>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="d-flex align-items-center mb-4">
                        <h1 class="flaticon-stairs font-weight-normal text-primary m-0 mr-3"></h1>
                        <h1 style="font-size: 150% ;" class="text-truncate m-0">Carpentery</h1>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="d-flex align-items-center mb-4">
                        <h1 class="flaticon-office font-weight-normal text-primary m-0 mr-3"></h1>
                        <h1 style="font-size: 150% ;" class="text-truncate m-0">Tiling</h1>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="d-flex align-items-center mb-4">
                        <h1 class="flaticon-living-room font-weight-normal text-primary m-0 mr-3"></h1>
                        <h1 style="font-size: 150% ;" class="text-truncate m-0">Gardening</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>



<!-- Projects Start -->
<div class="container-fluid py-5">
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col text-center mb-4">
            <h6 style="font-size: 150% ;"class="text-primary font-weight-normal text-uppercase mb-3">Projects</h6>
            <h1 style="font-size: 150% ;" class="mb-4">Some The Amazing Work Done By Merchants Near You</h1>
        </div>
    </div>
    <div class="row mx-1 portfolio-container">
        <div class="col-lg-4 col-md-6 col-sm-12 p-0 portfolio-item first">
            <div class="position-relative overflow-hidden">
                <div class="portfolio-img d-flex align-items-center justify-content-center">
                    <img class="img-fluid" src="assets/img/Gard1.jpg" alt="">
                </div>
               
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 p-0 portfolio-item second">
            <div class="position-relative overflow-hidden">
                <div class="portfolio-img d-flex align-items-center justify-content-center">
                    <img class="img-fluid" src="assets/img/Tile1.jpg" alt="">
                </div>
               
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 p-0 portfolio-item third">
            <div class="position-relative overflow-hidden">
                <div class="portfolio-img d-flex align-items-center justify-content-center">
                    <img class="img-fluid" src="assets/img/Roof1.jpg" alt="">
                </div>
               
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 p-0 portfolio-item first">
            <div class="position-relative overflow-hidden">
                <div class="portfolio-img d-flex align-items-center justify-content-center">
                    <img class="img-fluid" src="assets/img/Gard2.jpg" alt="">
                </div>
            
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 p-0 portfolio-item second">
            <div class="position-relative overflow-hidden">
                <div class="portfolio-img d-flex align-items-center justify-content-center">
                    <img class="img-fluid" src="assets/img/Tile2.jpg" alt="">
                </div>
               
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 p-0 portfolio-item second">
            <div class="position-relative overflow-hidden">
                <div class="portfolio-img d-flex align-items-center justify-content-center">
                    <img class="img-fluid" src="assets/img/Roof2.jpg" alt="">
                </div>
                
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 p-0 portfolio-item second">
            <div class="position-relative overflow-hidden">
                <div class="portfolio-img d-flex align-items-center justify-content-center">
                    <img class="img-fluid" src="assets/img/Gard3.jpg" alt="">
                </div>
                
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 p-0 portfolio-item second">
            <div class="position-relative overflow-hidden">
                <div class="portfolio-img d-flex align-items-center justify-content-center">
                    <img class="img-fluid" src="assets/img/Roof3.jpg" alt="">
                </div>
                
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 p-0 portfolio-item second">
            <div class="position-relative overflow-hidden">
                <div class="portfolio-img d-flex align-items-center justify-content-center">
                    <img class="img-fluid" src="assets/img/Tile3.jpg" alt="">
                </div>
               
            </div>
        </div>

    </div>
</div>
</div>
<!-- Projects End -->

<app-footer-f></app-footer-f>