.content{
  float: left;
    text-align: left;
    padding-right: 50%px;
    margin-left: 2%;
}

/* Three columns side by side */
.column {
  float: left;
  width: 20%;
  height:50%;
  margin-bottom: 16px;
  padding: 0 8px;
  margin-left: 2%;
}


.title {
  color:  #CD7F32;
}

