<app-header></app-header>

<div class="container-fluid bg-secondary py-5">
  <div class="container py-5">
      <div class="row align-items-center py-4">
          <div class="col-md-6 text-center text-md-left">
              <h1 class="mb-4 mb-md-0 text-primary text-uppercase">About Us</h1>
          </div>
          <div class="col-md-6 text-center text-md-right">
              <div class="d-inline-flex align-items-center">
                  <a class="btn btn-outline-primary" href="/home">Home</a>
                  <i class="fas fa-angle-double-right text-primary mx-2"></i>
                  <a class="btn btn-outline-primary disabled" href="">About Us</a>
              </div>
          </div>
      </div>
  </div>
</div>
<br>
<div class="About">
    <div class="content">
        <p><strong style="color: black; font-size:20px;">OUR AIM</strong></p>
        <p>SERVICEPLUG is founded by highly qualified 4-FOUR students of UNIVERSITY OF JOHANNESBURG who are doing their final at Software Engineering
            who call themselves VENDA GXNG (representing their venda culture with programming) with the purpose of making it easier for people irregardless of where they are
            to get the service they require as soon they can. The Background of our sytem was to help immagrates to get the service as fast as they can while they 
            are busy adapting to new environment, but since everyone needs service here and there we are more than pleased to provide you with quality.&nbsp;</p>
        <p><em>Our aim is to provide fair prices, excellent workmanship with a guarantee, and quality</em>.</p>
        <p>&nbsp;</p>
        <hr />
        <p><strong style="color: black; font-size:20px;">OUR MANAGEMENT</strong></p>
        <p>Our management  deals with different kind of serives such as tiling, gardening, roofing, painting and many more you mention it. We provide good merchants
            to our clients, that can also be seen with their ratings and a gallery of good work they have done.</p>
        <hr >
        <p><strong style="color: black; font-size:20px;">OUR SKILLS AND TECHNOLOGY</strong></p>

        <p>There are limited skills and tools to meet the demand for a quality. We believe
            that our customers deserve the best skills and tools to ensure a quality and seamless finish.<em> Merchants bring their own tools &
                tools to do their work.</em></p>
        <hr />
        <p><strong style="color: black; font-size:20px;">OUR GUARANTEE</strong></p>
        <ul>
            <li>Fair and honest pricing</li>
            <li>Maintenance of Garderning</li>
            <li>6 months guarantee, if there's fault with service</li>
            <li>Higher than industry standards in Large Format installations</li>
        </ul>
    </div>
</div>
<hr/>
<strong><p style="margin-left: 2%;color: black; font-size:20px;">
  MEET THE TEAM
 </p></strong>
<div class="row">
    <div class="column">
      <div class="card">
        <img src="assets/img/Frenkie.jpeg" alt="Mukhethwa" style="width:100%">
        <div class="container">
          <h2>Mukwevho Mukhethwa</h2>
          <p class="title">Web-App Front-End Designer</p>
          <p> <i style="font-size:24px" class="fa">&#xf095;</i> : 0825978674</p>
          <p><i style="font-size:24px" class="fa">&#xf0e0;</i> : 219011184@student.uj.ac.za</p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="assets/img/hata.jpg" alt="Hataluli" style="width:100%">
        <div class="container">
          <h2>Randima Hataluli</h2>
          <p class="title">Back End Designer </p>
          <p><i style="font-size:24px" class="fa">&#xf095;</i> : 0727941660</p>
          <p><i style="font-size:24px" class="fa">&#xf0e0;</i> : 219017847@student.uj.ac.za</p>
          
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="assets/img/Wavho.jpg" alt="Wavhothe" style="width:100%">
        <div class="container">
          <h2>Wavhothe Masakona</h2>
          <p class="title">Mobile-App Designer</p>
          <p><i style="font-size:24px" class="fa">&#xf095;</i> : 0691235684</p>
          <p><i style="font-size:24px" class="fa">&#xf0e0;</i> : 220057814@student.uj.ac.za</p>
         
        </div>
      </div>
    </div>

    <div class="column">
        <div class="card">
          <img src="assets/img/LA_AK.jpg" alt="Akonaho" style="width:100%">
          <div class="container">
            <h2>Lavhelani Akonaho</h2>
            <p class="title">Mobile-App Designer</p>
            <p><i style="font-size:24px" class="fa">&#xf095;</i> : 060956704</p>
            <p><i style="font-size:24px" class="fa">&#xf0e0;</i> : 220033817@student.uj.ac.za</p>
            
          </div>
        </div>
      </div>
  </div>
<app-footer></app-footer>