

<!-- Topbar Start -->
<div class="container-fluid bg-dark py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-lg-left mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center">
                    <span class="text-white">|</span>
                    <a class="text-white px-3" href="">Help</a>
                    <span class="text-white">|</span>
                    <a class="text-white pl-3" href="">Support</a>
                </div>
            </div>
            <div class="col-md-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-white px-3" href="">
                        <p>Welcome </p>
                    </a>
                    <span class="text-white">|</span>
                    <a class="text-white pl-3" href="">

                        <button type="button" class="btn btn-primary">
                            Notifications<span class="badge bg-danger ms-2">10</span>
                        </button>

                    </a>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid position-relative nav-bar p-0">
    <div class="container position-relative" style="z-index: 9;">
        <nav class="navbar navbar-expand-lg bg-secondary navbar-dark py-3 py-lg-0 pl-3 pl-lg-5">
            <a href="" class="navbar-brand">
                <h1 class="m-0 display-5 text-white"><span class="text-primary">S</span>ervice Plug</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                <div class="navbar-nav ml-auto py-0">
                    <a routerLink="/home" class="nav-item nav-link active">Home</a>
                    <a routerLink="/booking" class="nav-item nav-link">Book Merchant</a>
                    <a routerLink="/trackbooking" class="nav-item nav-link">Tracking</a>
                    <a routerLink="/AboutUs" class="nav-item nav-link">About</a>
                    <a routerLink="/contact" class="nav-item nav-link">Contact</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Potrait</a>
                        <div class="dropdown-menu rounded-0 m-0">
                            <a routerLink="/profile" class="dropdown-item">Profile</a>
                            <a routerLink="/register" class="dropdown-item">Log Out</a>
                        </div>
                    </div>





                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->


<!-- Under Nav Start -->
<div class="container-fluid bg-white py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 text-left mb-3 mb-lg-0">
                <div class="d-inline-flex text-left">
                    <h1 class="flaticon-office font-weight-normal text-primary m-0 mr-3"></h1>
                    <div class="d-flex flex-column">
                        <h5>Our Office</h5>
                        <p class="m-0">30-38 Claim street,Doorfontein, GAUTENG</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-left text-lg-center mb-3 mb-lg-0">
                <div class="d-inline-flex text-left">
                    <h1 class="flaticon-email font-weight-normal text-primary m-0 mr-3"></h1>
                    <div class="d-flex flex-column">
                        <h5>Email Us</h5>
                        <p class="m-0">serviceplug4@info.com</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-left text-lg-right mb-3 mb-lg-0">
                <div class="d-inline-flex text-left">
                    <h1 class="flaticon-telephone font-weight-normal text-primary m-0 mr-3"></h1>
                    <div class="d-flex flex-column">
                        <h5>Call Us</h5>
                        <p class="m-0">+012 345 6789</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Booking Details -->
<div class="col-md-5 order-details">
    <div class="section-title text-center">
        <h3 class="title">Your Booking Service</h3>
    </div>
    <div class="order-summary">
        <div class="order-col">
            <div><strong>SERVICE</strong></div>
            <div><strong>TOTAL</strong></div>
        </div>
        <div class="order-products">
            <div class="order-col">
                <div>1x Service Name Goes Here</div>
                <div>$980.00</div>
            </div>
            <div class="order-col">
                <div>2x Service Name Goes Here</div>
                <div>$980.00</div>
            </div>
        </div>
        <div class="order-col">
            <div><strong>TOTAL</strong></div>
            <div><strong class="order-total">$2940.00</strong></div>
        </div>
    </div>
    <div class="payment-method">
        <div class="input-radio">
            <input type="radio" name="payment" id="payment-1">
            <label for="payment-1">
                <span></span>
                Direct Bank Transfer
            </label>
            <div class="caption">
                <p> Typically a transfer of money from one retirement account to another, facilitated by the two financial institutions involved</p>
            </div>
        </div>
        <div class="input-radio">
            <input type="radio" name="payment" id="payment-2">
            <label for="payment-2">
                <span></span>
                Cheque Payment
            </label>
            <div class="caption">
                <p>Cheque Payment is a document that orders a bank (or credit union) to pay a specific amount of money from a person's account to the person in whose name the cheque has been issued.</p>
            </div>
        </div>
        <div class="input-radio">
            <input type="radio" name="payment" id="payment-3">
            <label for="payment-3">
                <span></span>
                Paypal System
            </label>
            <div class="caption">
                <p>PayPal is an online payment system that makes paying for things online and sending and receiving money safe and secure</p>
            </div>
        </div>
    </div>
    <div class="input-checkbox">
        <input type="checkbox" id="terms">
        <label for="terms">
            <span></span>
            I've read and accept the <a href="#">terms & conditions</a>
        </label>
    </div>
    <button (click)="goToPage('date-picker')" class="primary-btn order-submit">Place Service</button>
</div>
<!-- /Booking Details -->

<!-- Footer Start -->
<div class="container-fluid bg-dark text-white py-5 px-sm-3 px-md-5">
        
    <div class="container border-top border-secondary pt-5">
        <p class="m-0 text-center text-white">
            &copy; <a class="text-white font-weight-bold" href="#">ServicePLug</a>. All Rights Reserved. Designed by
            <a class="text-white font-weight-bold" href="https://htmlcodex.com">HTML Codex</a>
        </p>
    </div>
  </div>
  <!-- Footer End -->